.form-connection {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    margin-top: 3.5rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}
html,
body {
    background-color: #fff;
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
}

.no-background{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-color: transparent;
    border: none;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: calc(100vh - 5rem);
}

.text-white{color:#fff !important;}

.bg-white{background-color: #fff;}
.bg-success{background-color: #77bc1f !important;}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}

.navbar.fixed-top.scrolled {
    background-color: #fff !important;
    color:#77bc1f !important;
    transition: background-color 200ms linear;
}
.navbar.fixed-top.scrolled a{
    color:#77bc1f !important;
}

.navbar button{
    color:#77bc1f !important;
}

.h-75{
    height: 70vh!important;
}

.grossepolice{
    font-size: 3rem!important;
}

@media (max-width: 768px) {
    .nav-index{
        background-color: #fff !important;
        color:#77bc1f !important;
        transition: background-color 200ms linear;
    }

    .nav-index a{
        color:#77bc1f !important;
    }

    .nav-index img{
        position: fixed;
        height: 5rem!important;
        padding:1rem;
        background-color: #fff;
        border-radius: 50%;
        top:0.5rem;
        left:calc(50vw - 2.5rem);
    }

    .body-from{
        background-color: white !important;
    }

    .addform{
        width: 90%!important;
    }

    .h-75{
        height: 60vh !important;
    }

    .grossepolice{
        font-size: 1.5rem!important;
    }

}


.overlay{
    background-color: rgba(51,51,51,0.30);
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

.separator{
    width:85px;
    height:2px;
    margin:20px 0px;
    background: #77bc1f !important;
}

.btn-success{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    border-radius: 0;
    color: #fff;
    background-color: #77bc1f !important;
    border:1px solid;
    border-color: #77bc1f !important;
    padding: 1rem 2rem;
}

.btn-success:hover{
    background-color: #eee!important;
    border-color: #eee!important;
    color:#77bc1f !important;
}

.btn-danger{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    border-radius: 0;
    color: #fff;
    background-color: #dc3545 !important;
    border:1px solid;
    border-color: #dc3545 !important;
    padding: 1rem 2rem;
}

.btn-danger:hover{
    background-color: #eee!important;
    border-color: #eee!important;
    color:#dc3545 !important;
}

.btn-warning{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    border-radius: 0;
    color: #fff;
    background-color: #ffc107 !important;
    border:1px solid;
    border-color: #ffc107 !important;
    padding: 1rem 2rem;
}

.btn-warning:hover{
    background-color: #eee!important;
    border-color: #eee!important;
    color:#ffc107 !important;
}

.input-group input{
    height: 4rem;
}

.culmn{
    width:100%;
    overflow: hidden;
}

.home{
    background: url(../images/todospring.png) no-repeat top right;
    background-size: cover;
    position: relative;
}
.main_home{
    overflow: hidden;
    padding-top: 300px;
    padding-bottom: 230px;
    position: relative;
    z-index: 1;
}
.home_text h1{
    font-size:4.286rem;
    font-weight: 700;
    line-height: 6.5rem;
}


.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #77bc1f !important;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

.h-100{
    height: 100vh!important;
}

input{
    border-radius:0!important;
}

a{
    color:#77bc1f;
}

.selected{
    background-color: #acbad4;
}

.grossepolice{
    font-size: 3rem;
}

.card-body{
    overflow: auto;
}

.card{
    border-radius: 0;
}