<!DOCTYPE html>
<html lang="fr" ng-app="todoSpring">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="enauthor" content="">
    <title>todoSpring - Loïc Mayol & Marius Ridel</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-cookies.js"></script>
    <script src="app/index.js"></script>
    <script src="app/controllers/connectionCtrl.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body class="bg-success body-from h-100">

    <main class="row mx-0 h-100" ng-controller="ConnectionCtrl">
        <form method="post" class="my-auto form-connection align-middle bg-white" ng-submit="register(user)">
            <div class="text-center mb-4">
                <img class="mb-4" src="assets/images/spring-3.svg" alt="..." width="120" height="120">
                <h1 class="h3 mb-3 font-weight-normal">Bienvenue sur todoSpring !</h1>
                <p>Inscrivez-vous pour créer une très jolie liste. </p>
            </div>
            <div class="form-label-group">
                <input type="text" ng-model="user.username" id='username' class="form-control"
                    placeholder="Nom d'utilisateur" required autofocus>
                <label for="username">Nom d'utilisateur</label>

            </div>
            <div class="form-label-group">
                <input type="password" ng-model="user.password" id="password" class="form-control"
                    placeholder="Mot de passe" required autofocus>
                <label for="password">Mot de passe</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="confirmpassword" class="form-control"
                       placeholder="Confirmer le mot de passe" required autofocus>
                <label for="password">Confirmer le mot de passe</label>
            </div>

            <p class="text-center">Déja un compte ? <a href="\login">Connectez-vous !</a></p>

            <button type="submit" name="go" id='submit' class="btn btn-lg btn-success btn-block">Inscription</button>

            <div class="alert alert-danger display-error mt-3" style="display: none"></div>
        </form>

    </main>

</body>
</html>