<!DOCTYPE html>
<html lang="fr" ng-app="todoSpring">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>todoSpring - Loïc Mayol & Marius Ridel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app/index.js"></script>
    <script src="app/factory/todoFactory.js"></script>
    <script src="app/controllers/todoCtrl.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="h-100 bg-dark" ng-controller="TodoCtrl">
    <nav class="navbar navbar-dark bg-success">
        <span class="navbar-brand">Bienvenue <strong>{{user}}</strong></span>
        <div class='my-2 my-sm-0'>
            <a class="btn btn-danger" href="/logout">Déconnexion</a>
        </div>

    </nav>

    <main class="container-fluid">

        <div class="mx-auto w-50 my-3 addform">
            <form ng-submit='addTask()'>
                <div class="input-group mb-3 col-12">
                    <input class="form-control" placeholder='Tâche à ajouter...' ng-model='taskName'/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">Ajouter une tâche</button>
                    </div>
                </div>
                <p class="text-white text-center"> Cliquez sur une tâche en cours pour en modifier son contenu.</p>
            </form>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="card text-center col-5 p-0 h-75">
                    <div class="card-header">
                        <h5 class="card-title">En cours</h5>
                    </div>
                    <div class="card-body py-0">
                        <table id="invalide" class="table display" style="width:100%">
                            <thead> <tr> <th class='col-3' >Tâche</th> <th class='col-1'>Date</th> </tr> </thead>
                            <tbody>
                            <tr class="" ng-repeat="ta in tasks | filter:!isDone | orderBy:'date'" task="{{ta}}" onclick="selectrow(this);">
                                <td><input type="text" ng-blur="updateTask(ta)" ng-model="ta.text" class="font-weight-bold form-control-plaintext" /></td>
                                <td><span class="badge badge-info badge-pill">{{ta.date| date:'Le dd/MM/yyyy à HH:mm'}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-2 my-auto">
                    <button class="row mx-auto btn btn-warning w-100 p-0 grossepolice" type="button" ng-click="coche()"><i class="fas fa-long-arrow-alt-right fa-xs"></i></button>
                    <button class="row mx-auto btn btn-danger w-100 p-0 grossepolice" type="button" ng-click="deleteSelected()"><i class="fas fa-times fa-xs"></i></button>
                    <button class="row mx-auto btn btn-warning w-100 p-0 grossepolice" type="button" ng-click="decoche()"><i class="fas fa-long-arrow-alt-left fa-xs"></i></button>
                </div>

                <div class="card text-center col-5 p-0 h-75">
                    <div class="card-header">
                        <h5 class="card-title">Terminée(s)</h5>
                    </div>
                    <div class="card-body py-0">
                        <table id="valide" class=" table display" style="width:100%">
                            <thead> <tr> <th class='col-3' >Tâche</th> <th class='col-1'>Date</th> </tr> </thead>
                            <tbody>
                            <tr class="" ng-repeat="ta in tasks | filter:isDone | orderBy:'date'" task="{{ta}}" onclick="selectrow(this);">
                                <td class="text-left font-weight-bold form-control-plaintext" >{{ta.text}}</td>
                                <td><span class="badge badge-info badge-pill">{{ta.date| date:'Le dd/MM/yyyy à HH:mm'}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <script>
        function selectrow(row) {
            row.classList.toggle("selected");
        }
    </script>

</body>

</html>